<%- include('./shared/header.ejs', {title:post.title} ) %>


<div class="container">
    <h1 class="my-5"><%= post.title %></h1>
    <p>
        <%= post.content %>
    </p>
    
        <!-- <% // if (locals.title) { %>
        <h1><%-//title %></h1> 
        <% //} %> -->

</div>


<%- include('./shared/footer.ejs') %>
